@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
 background: red;
} */

*:focus {
  outline: none;
}

.iphone-frame {
  border-radius: 40px;
}

.norch::before {
  content: '';
  position: absolute;
  left: 30px;
  top: 7px;
  height: 4px;
  width: 30px;
  border-radius: 10px;
  border: 0.03em solid rgb(51, 51, 51, 0.479);
  box-shadow: inset 0px 0px 3px 0px rgb(51, 51, 51, 0.712);
}

.norch::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 5px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #333;
}
